<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Add New Faculty Details</title>
</head>
<body>
<!--<section th:fragment="content">-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">
                    <div class="container text-center">
                        <img class="" style="width: 200px" src="" th:src="@{/img/Northeastern-Faculty.png}"/>
                    </div>
                    <h1 class="text-center">Add Faculty Here!</h1>

                    <form action="/manage/faculty/add" th:action="@{/admin/manage/faculty/add}" method="post" th:object="${faculty}">
                        <div class="form-group">
                            <label for="fName_field">First Name</label>
                            <input name="fName" type="text" class="form-control" id="fName_field" aria-describedby="firstNameHelp" placeholder="John" required th:value="${faculty?.fName}"/>
                        </div>

                        <div class="form-group">
                            <label for="lName_field">Last Name</label>
                            <input name="lName" type="text" class="form-control" id="lName_field" aria-describedby="lastNameHelp" placeholder="Smith" required th:value="${faculty?.lName}"/>
                        </div>

                        <div class="form-group">
                            <label for="email_field">Email</label>
                            <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="smith.john@northeastern.edu" required th:value="${faculty?.email}"/>
                        </div>

                        <div class="form-group">
                            <label for="password_field">Password</label>
                            <input name="password" type="password" class="form-control" id="password_field" aria-describedby="passwordHelp" placeholder="Enter Password" required th:value="${faculty?.password}"/>
                        </div>


                        <div class="container text-center">
                            <button type="submit" class="btn bg-danger btn-block text-white">
                                Add Faculty
                            </button>
                            <button type="reset" class="btn bg-danger btn-block text-white">
                                Reset Details
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</section>


</body>
</html>