<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Manage Student</title>
</head>
<body>
    <section th:fragment="sidebar">
        <div class="sidebar mt-2">
            <span onclick="toggleSidebar()" class="crossBtn">&times;</span>
            <a href="#" th:href="@{/admin/manage/student/viewall}" class="item"><i class="fa-solid fa-users-between-lines"></i>Inside -  View All Students</a>
            <a href="#" th:href="@{/admin/manage/student/add}" class="item"><i class="fa-duotone fa-graduation-cap"></i> Inside - Create Student</a>
            <a href="#" class="item">Random</a>
            <a href="#" class="item">Random</a>
            <a href="#" class="item">Random</a>
            <div class="divider">
            </div>
        </div>
    </section>
    <section th:fragment="content">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <div class="container text-center">
                        <img src="" style="height: 200px; width: 200px" th:src="@{/img/Admin-Profile.png}">
                    </div>
                </div>
            </div>

        </div>
        <h1 class="text-center mt-3">Manage Student Dashboard</h1>
        <h4 class="text-center">A highly personalized, experience-driven platform that serves as a daily home base for Northeastern students and employees.</h4>
    </section>
</body>