<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Update Admin Details</title>
</head>
<body>
<!--<section th:fragment="content">-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="my-card mt-3">
                    <div class="container text-center">
                        <img class="" style="width: 200px" src="" th:src="@{/img/Admin-Profile.png}"/>
                    </div>
                    <h1 class="text-center">Update Admin Details</h1>

                    <form action="/manage/student/add" th:action="@{'/admin/profile/update'}" method="post" th:object="${admin}">

                        <input type="hidden" th:value="${admin.userId}" name="userId" />

                        <div class="form-group">
                            <label for="fName_field">First Name</label>
                            <input name="fName" type="text" class="form-control" id="fName_field" aria-describedby="firstNameHelp" placeholder="John" required th:value="${admin?.fName}"/>
                        </div>

                        <div class="form-group">
                            <label for="lName_field">Last Name</label>
                            <input name="lName" type="text" class="form-control" id="lName_field" aria-describedby="lastNameHelp" placeholder="Smith" required th:value="${admin?.lName}"/>
                        </div>

                        <div class="form-group">
                            <label for="email_field">Email</label>
                            <input name="email" type="email" class="form-control" id="email_field" aria-describedby="emailHelp" placeholder="smith.john@northeastern.edu" required th:value="${admin?.email}"/>
                        </div>

                        <div class="form-group">
                            <label for="password_field">Password</label>
                            <input name="password" type="password" class="form-control" id="password_field" aria-describedby="passwordHelp" placeholder="Enter Password" required th:value="${admin?.password}"/>
                        </div>


                        <div class="container text-center">

                            <button type="submit" class="btn bg-danger btn-block text-white">
                                Update Admin
                            </button>

<!--                            <a th:href="@{'/admin/profile/update'}" class="btn btn-success btn-sm">Update Admin</a>-->

                            <button type="reset" class="btn bg-danger btn-block text-white">
                                Reset Details
                            </button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>

</section>


</body>
</html>